Sequence(
    effects: {
        "t_ct": MultiColour(colours: [Some((8738, 40000, 65535, 4500)), Some((39322, 50000, 65535, 4500))], scale_factor: 8),
        "ct_t": MultiColour(colours: [Some((39322, 50000, 65535, 4500)), Some((8738, 40000, 65535, 4500))], scale_factor: 8),
        "off": SolidColour((0, 0, 0, 4500)),
    },
    ops: [
        Transition(to: "t_ct", transition_ms: 0),
        DelayMs(5000),
        Transition(to: "ct_t", transition_ms: 1000),
        DelayMs(2000),
    ]
)
